<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
<style type = "text/css">
body {
background: linear-gradient(45deg, #020031 0%, #191970 100%) repeat scroll 0 0 transparent;
      }
    </style>
</head>
<body>
  <h1>Shortened URL has been generated: <h1>
<a href=http://localhost:3000/{{shortenedExtension}}>http://localhost:3000/{{shortenedExtension}} </a>
</body>
</html>
