<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <style type = "text/css">
      body {
      background: linear-gradient(45deg, #020031 0%, #191970 100%) repeat scroll 0 0 transparent;
      }
    </style>
  </head>
  <body>
    <div class = "row text-center">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h1 class="text-info">Unfortunately the {{code}} does not point to a valid URL</h1>
      </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </body>
</html>
